.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
}

.wrapper {
    width: 200px;
}

.iconField {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.green {
    fill: green;
}

.blue {
    fill: rgb(3, 3, 102);
}